.mensagem-recebida{
    width: 100%;
    display: block;
    padding: 120px 0px;

}
.mensagem-recebida .conteudo{
    width: 100%;
    display: block;
}
.mensagem-recebida .conteudo h1{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 25px;
}
.mensagem-recebida .conteudo p{
    font-size: 18px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    margin: 0 auto 40px auto;

}
.mensagem-recebida .conteudo .btn{
    display: block;
    margin: 0 auto;
}